$accentColor = #2481bf
$textColor = #232321
.content__default p 
    display: flex;
    justify-content: space-between;

.comments-wrapper 
    display: none;


.pagation .pagation-list .jump,
.pagation .pagation-list .jumpinp input 
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.2) !important;


